main {
    padding: 1rem 5%;
    float: none;
}

main p {
    line-height: 1.5;
    word-spacing: 1px;
    word-break: break-word;
}

main + nav {
    box-sizing: border-box;
    background-color: #cccc99;
    background: var(--secondary-background-color);
    margin: 1rem;
    max-width: inherit;
    height: min-content;
    border-radius: 1rem;
    padding: 1rem;
}

main + nav > ol > li {
    padding: 1.5%;
}

main + nav > ol > li > a {
    color: black;
}